<div class="row">
    <div class="col-lg-offset-2 col-lg-4 top_margin">
        <span class="about-title">Who Are We</span>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-1 col-lg-6">
        <p class="intro">
            <b>Imanje Solutions</b> is the vision of Web Developer, Jonathan  “JT” Tolbert.
            JT is a passionate web developer with 10 years of professional and enterprise experience.
            He has worked as both an employee and to an array of differnet organizations spanning across
            different industries. From century old Global Organizations to upcoming innovative Start-Ups,
            JT has lent his talents to help and lead development of various web and software solutions.
        </p>
        <p class="intro">
            Imanje Solutions is an extension of JT’s passion and driven commitment to provide
            innovative solutions that meet our clients needs.
        </p>
        <p class="intro">
            Our Mision is to continue to push the envelope of what is possible,
            and provide tomorrow’s solutions for today’s problems.
        </p>
    </div>
    <div class="col-lg-offset-2 col-lg-3">
        <img src="/assets/images/jtHooverDam.jpg" alt="Jonathan Tolbert" class="img-circle img-size " />
    </div>
</div>
<hr>

<div class="row process-row">
    <div class="col-lg-offset-1 col-lg-5">
        <span class="process-title">The Process</span><img src="/assets/images/joelEmbid.png" alt="The Process" class="process-img" />
     </div>
</div>
<div class="row process-row">
    <div class="col-lg-offset-1 col-lg-5">
        <span class="process-title">Step 1. <span class="process-text">Contact Us - Submit a Quote</span></span><img src="/assets/images/cellTower.gif" alt="Contact Us" class="process-img celltower" />
        {{#link-to 'contact'  class="process-link"}}<a href="">Click Here</a>{{/link-to}}
    </div>
</div>
<div class="row process-row">
    <div class="col-lg-offset-1 col-lg-6">
        <span class="process-title_alien">Step 2. <span class="process-text2">First Contact - Q&A to give clarification of our services and to gain understanding of your vision. Set up a Meet and Greet</span>
        </span><img src="/assets/images/alien.png" alt="First Contact" class="process-img alien pull-right" />

    </div>
</div>
<div class="row process-row">
    <div class="col-lg-offset-1 col-lg-6">
        <span class="process-title_alien meet-title">Step 3. <span class="process-text2 meet-text">Meet & Greet - Presentation of possible solutions based off of First Contact discussion. Opportunity to further gather project requirements. </span>
        </span><img src="/assets/images/meetandgreet.png" alt="Meet and Greet" class="process-img meet pull-right" />

    </div>
</div>
<div class="row process-row">
    <div class="col-lg-offset-1 col-lg-6">
        <span class="process-title_alien agreement-title">Step 4. <span class="process-text2 agreement-text">Work Agreement - Once a solution is agreed upon. We will establish a time line. Sign a statemtent of work and Contract. Deposit due at this time. </span>
        </span><img src="/assets/images/contract.png" alt="Work Agreement" class="process-img agreement pull-right" />

    </div>
</div>
<div class="row process-row">
    <div class="col-lg-offset-1 col-lg-7">
        <span class="process-title_alien thumbsup-title">Step 5. <span class="process-text2 thumbsup-text">Develop, Test, Deploy - Development begins per timeline. Each milestone is completed with your approval. After testing and your final approval, your project is deployed. Final payment due.</span>
        </span><img src="/assets/images/thumbsup.png" alt="Meet and Greet" class="process-img thumbsup pull-right" />

    </div>
</div>


