<h2 class="text-center">Who Are We</h2>
<div class="text-center about-logo__height">
    <img src="/assets/images/aboutLogo.png" alt="Imanje Solutions" class="about-logo"/>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-2">
        <img src="/assets/images/jtHooverDam.jpg" alt="Jonathan Tolbert" class="img-circle img-size " />
    </div>
    <div class="col-lg-offset-1 col-lg-5">
        <p>
            Imanje Solutions is the vision of Web Developer, Jonathan “JT” Tolbert. Jonathan is a passionate
            web developer with 9 years of professional and enterprise experience. He has worked as both
            an employee and consultant to an array of different organizations spanning several different
            industries.  From century old Global Fortune 500 organizations to upcoming innovative Start- Ups,
            Jonathan has lent his talents to help and lead the development of various web and software solutions.
        </p>
        <p>
            Imanje Solutions is an extension JT’s passion and driven commitment to provide innovative solutions
            that meet out clients needs.
        </p>
        <p>
            Our mission is to continue to push the envelope of what is possible. To provide tomorrow’s solutions
            for today’s problems.
        </p>
    </div>
</div>

