<div class="row">
    <div class="text-center intro--logo-top">
        <img src="/assets/images/aboutLogo.png" alt="Imanje Solutions" class="about-logo"/>
    </div>
</div>
<div class="row">
  {{admin-nav myAction='showTab'}}
</div>
<div class="row t-table">
    {{#if isContact}}
        {{contact-list}}
    {{/if}}
    {{#if isQuote}}
        {{quotes-list}}
    {{/if}}
</div>
{{yield}}
