{{yield}}
<div class="theader">
    <h1>Contacts</h1>
</div>
<!--Column Headers-->
<div class="trow">
    <div class="col-1">
        <span class="table-header"><h4> ID</h4></span>
    </div>
    <div class="col-2">
        <span class="table-header"><h4>Name</h4></span>
    </div>
    <div class="col-2">
        <span class="table-header"><h4>Email</h4></span>
    </div>
    <div class="col-2">
        <span class="table-header"><h4>Phone</h4></span>
    </div>
    <div class="col-1">
        <span class="table-header"><h4>Skype</h4></span>
    </div>
    <div class="col-1">
        <span class="table-header"><h4> Method</h4></span>
    </div>
    <div class="col-3">
        <span class="table-header"><h4>Request</h4></span>
    </div>
</div>
<div class="trow">
    <!--ID-->
    <div class="col-1">
        <span class="table-cell">1</span>
    </div>
    <!--Name-->
    <div class="col-2">
        <span class="table-cell">Jesus Christmas</span>
    </div>
    <!--Email-->
    <div class="col-2">
        <span class="table-cell">jchristmas@tmail.com</span>
    </div>
    <!--Phone-->
    <div class="col-2">
        <span class="table-cell">678-978-0655</span>
    </div>
    <!--Skype-->
    <div class="col-1">
        <span class="table-cell">jcht976</span>
    </div>
    <!--Method-->
    <div class="col-1">
        <span class="table-cell">email</span>
    </div>
    <!--Request-->
    <div class="col-3">
        <span class="table-cell">Do you work with Wordpress?</span>
    </div>
</div>
<div class="trow">
    <!--ID-->
    <div class="col-1">
        <span class="table-cell">2</span>
    </div>
    <!--Name-->
    <div class="col-2">
        <span class="table-cell">Drake Simmons</span>
    </div>
    <!--Email-->
    <div class="col-2">
        <span class="table-cell">drizy@tmail.com</span>
    </div>
    <!--Phone-->
    <div class="col-2">
        <span class="table-cell">404-666-9902</span>
    </div>
    <!--Skype-->
    <div class="col-1">
        <span class="table-cell">drizy2G</span>
    </div>
    <!--Method-->
    <div class="col-1">
        <span class="table-cell">phone</span>
    </div>
    <!--Request-->
    <div class="col-3">
        <span class="table-cell">Do you do lgo design and branding?    </span>
    </div>
</div>
<div class="trow">
    <!--ID-->
    <div class="col-1">
        <span class="table-cell">3</span>
    </div>
    <!--Name-->
    <div class="col-2">
        <span class="table-cell">Kim West</span>
    </div>
    <!--Email-->
    <div class="col-2">
        <span class="table-cell">kwestpawg3@tmail.com</span>
    </div>
    <!--Phone-->
    <div class="col-2">
        <span class="table-cell">308-626-9669</span>
    </div>
    <!--Skype-->
    <div class="col-1">
        <span class="table-cell">kimk99</span>
    </div>
    <!--Method-->
    <div class="col-1">
        <span class="table-cell">skype</span>
    </div>
    <!--Request-->
    <div class="col-3">
        <span class="table-cell">Can you improve my sites security?</span>
    </div>
</div>
