<div class="container-fluid header">
    <div class="row">
        <div class="col-lg-12 rectangle_1"></div>
    </div>
    <div class="row header-row">
        <div class="col-lg-1">
            <img src="/assets/images/aboutLogo.png" alt="Imanje Solutions" class="header-logo"/>
        </div>
        <div class="col-lg-8 rt-border row-height">
            <p class="name">IMANJE SOLUTIONS</p>
            <p class="_ee___Mon___jay ">(ee - Mon - jay)  (so - lu - tions)</p>
        </div>
        <div class="col-lg-3 header-call_box">
            <img src="/assets/images/callNowBg.png" alt="470-535-0600" class="header-call_img"/>
            <p class="pull-right header-call_text">CALL NOW</p>
            <hr class="header-call_line">
            <p class="header-call_number"><a href="tel:+14705350600">470-535-0600</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 rectangle_2">
            <p class="moto">Tomorrow's Solutions For Today's Problems</p>
        </div>
    </div>
</div>
{{yield}}
