<div class=" container-fluid landing-container">
<div class="row">
    <div class="container-fluid">
        <div class="col-lg-offset-5 col-lg-4">
          <img src="/assets/images/logo.png" alt="Imanje Solutions" class="landing-img">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-4 col-lg-4">
        <p class="landing-intro_text landing-intro-top text-center">
            Need a Website, Web App, Social Media Marketing or Branding Services.
            Contact <span class="intro-bold">Imanje Solutions NOW.</span>
        </p>
    </div>
</div>
<div class="row intro-row">
    <div class="col-lg-2">
        </div>

</div>
<div class="row enterbtn-row">
    <div class="col-xs-offset-2 col-sm-offset-0  col-lg-offset-0 col-lg-6 landing-enter_button">
{{#link-to 'home' tagName="a"}}<a href="" alt="For More Info">ENTER</a>{{/link-to}}
    </div>

</div>
</div>
{{yield}}
