.contact-form{
  display: none;
}

.showForm {
  display: block;
}

.hideForm{
  display: none;
}

.focusedInput:focus {
  border-color: rgba(82,168,236,.8) ;
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.pointer{
  cursor: pointer;
}