.app-container{
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  margin: 0px auto;
}
.content-container {
  margin-top: 0px;
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .content-container {
    margin-top: 63px;
  }
}

@media all and (min-width: 768px) {
  .content-container {
    margin-top: 0px;
  }
}

//@media all and (min-width: 480px) and (max-width: 767px){
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-color-index: 0) {
    .content-container {
      margin-top: 55px;
    }

  }
//}

//margin-top: -50px
