.folio{

  h2{
    color: $banner-navy;
    text-decoration: underline;
    text-shadow: 1.5px 1px $menuBtn-blue;
    //$mint-green;
  }

  .folio-title_row{
    text-align: center;
  }


  .folio-title{
    margin: -35px 19px 0px 19px;
  }

  .gallery-row{
    display: flex;
    flex-flow: column;
    margin: 10px auto;
  }

  .card{
    width: 191px;
    height: 251px;
    border: 2px solid #030721;
    margin: 10px auto;

      img {
        //margin-top: 5%;
        width: 82%;
        height: 228px;
        margin: 8% 8% 4% 8%;
      }

  }

    .card:hover{
      border-color: $menuBtn-blue;
    }
}

.card-link{
 display: none;


}



.card-icon {
  width: 35px;
  margin: 10px 5px;
}

.card-desktop{
  margin-top: 10px;
  border: 2px solid $banner-navy;
  margin-left: 29%;


  img{
      padding: 0px 12px 3px 12px;
    }
}

@media all and (min-width: 768px) {
   .folio{
     .gallery-row{
       display: flex;
       flex-flow: row;
       margin: 10px auto;
     }

     .card-link{
       display: inline-block;


     }

     .card-icon{
       width: 35px !important;
       margin: 0px 5px;
       height: 35px !important;
     }
   }
}



@media all and (min-width: 769px) {


   .card-link{
      margin-top: 23px;
      text-align: center;
      font-weight: bold;
      color: #337ab7;
      text-decoration: underline;
    }

  .card-link:hover{
    color: $menuBtn-blue;
  }

  .card{
    width: 270px;
    height: 514px;
    border: 2px solid #030721;
    margin: 7%;

      img{
        margin-top: 5%;
      }

  }
}

@media all and (min-width: 772px) {
   .folio {
     .folio-title {
       margin: 0px 19px 0px 19px;
     }
   }
}




