.footer{

  display: flex;
  flex-flow: column;
  flex: 0 1 auto;

  .footer-height{
    height: 100%
  }

  .footer-button{
    order: 0;
    display: flex;
    flex: 1 0 auto;
    width: 12%;
    align-self: flex-end;
    margin: 29px 3px;
    }

  .footer-content{
    order: 1;
    margin: 29px 0px 0px 0px;
    background-color: #E2E3E9;
    height: 185px;
  }

  .footer-contact_text{
    font-size: 1.65em;
    font-family: "Myriad Pro";
    color: #0768ed;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    width: 100%;
    height: 14px;
    z-index: 40;
    margin: 20px auto;
    display: flex;

  }

  .footer-contact_phone{

      font-size: 1.15em;
      font-family: "Myriad Pro";
      color: rgb(3, 6, 30);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
      width: 100%;
      height: 15px;
      z-index: 41;
      display: flex;
      margin: 0px auto;

      a{
        color: rgb(3, 6, 30);
        margin-left: 2px;
        text-decoration: underline;
      }


  }

  .footer-contact_email{

      font-size: 1.15em;
      font-family: "Myriad Pro";
      color: rgb(3, 6, 30);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
      width: 100%;
      height: 15px;
      z-index: 42;
      display: flex;
    margin: 10px auto 0px auto;

      a{
        color: rgb(3, 6, 30);
        margin-left: 2px;
        text-decoration: underline;
      }

  }

    .footer-nav{
      list-style: none;
      display: flex;
      flex-flow: column;
      align-items: center;
      flex: 1 0 auto;
      width: 50%;
      margin: -82px auto;

    }

  .footer--navlink{
    font-size: 1.45em;
    font-family: "Myriad Pro";
    color: #0768ed;
    line-height: 0.2;
    width: auto;
    height: 13px;
    padding: 14px 0px;

        a{
          text-decoration: underline;
        }

        a:hover{
          color: $mint-green;
        }
  }

   .footer-freeq_col{
     display: flex;
     flex-flow: column;
     justify-content: center;
     flex: 0 1 auto;
     width: 23.5%;
     align-items: center;
     border-left: 2px solid #FFFFFF;
     height: 100%;
     margin: 0px 76%;
   }

  .footer-copy_column {
    height: 19px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: -14px;
  }

  .footer-copyright {
    font-size: 1em;
    font-family: "Myriad Pro";
    color: rgb(3, 7, 33);
    line-height: 1.2;
    width: 88%;
    //max-width: 678px;
    height: 12.875px;
    z-index: 46;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .footer-img{
    height: 134px;
    padding: 2px 4px 2px 8px;
  }

  .footer-hide{
    display: none !important;
  }

  @media all and (max-width: 767px) {
      #top{
        display: none;
      }
    .footer-content{
      display: flex;
      flex-flow: column;
      flex: 1 0 auto;
      //height: 100%;
      height: 205px;
      margin: 0px 0px 0px 0px;
      align-items: center;
    }

    .footer-contact_text{
      margin: 20px auto;
      text-align: center;
      justify-content: center;
    }

    .footer-contact_phone{
      justify-content: center;
      margin: 0px auto;
      width: 100%;
      flex-flow: row;
      flex: 1 0 auto;
    }

    .footer-contact_email{
      justify-content: center;
      margin: 10px auto;
      z-index: 0;
    }

    .footer-contact_group{
      order: 0;
      display: flex;
      flex-flow: column;
      flex: 1 0 auto;
    }

    .footer-freeq_col{
      order: 1;
      margin: -100px auto 0px auto;
      width: 100%;
      border-left: none;
      flex-flow: row;
      flex: 1 0 auto;
      align-items: center;
      display: none;
    }

    .footer-nav-row{
      display: flex;
      flex-flow: row wrap;
      flex: 1 0 auto;
      width: 100%;
      justify-content: center;
      align-items: center;
      max-width: 400px;

    }

    .footer-nav{
      order: 2;
      margin: 16px -21px;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 100%;

       li{
         font-size: 1em;
         padding: 14px 14px;
       }
    }

    .footer-copy_column{
      order: 3;

    }

    .footer-copyright {
      width: 100%;
      padding: 2px;
    }

    .footer-img{
      height: 95px;
    }


  }

  @media all and (min-width: 768px) {
    .footer .footer-content {
      order: 1;
      margin: 29px 0px 0px 0px;
      background-color: #E2E3E9;
      height: 185px;
    }
    .footer-contact_group {
      width: 31%;
      max-width: 290px;
      display: flex;
      flex-flow: column;
      padding: 4px;
    }

    .footer-nav-row{
      width: 75%;
     // max-width: 577px;
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      height: 62px;
      margin: -82px -20px;
      max-width: 100%;


    }

    .footer-nav{
      width: 100%;
      margin: 0px auto;
      padding: 0px 4px;
    }

    .footer--navlink {
      font-size: 1em;
    }

    .footer-button {
      order: 0;
      display: flex;
      flex: 1 0 auto;
      width: 12%;
      max-width: 170px;
      align-self: flex-end;
      margin: 29px 3px;
    }

  }

}














