.header{
  font-family: "Mistral";
  margin-top: -20px;
}

.header-row{
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  height: 160px;

    @media all and (min-width: 768px) and (max-width: 768px) {

        margin-top: -32px;

    }
}


.logo-column {
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
  height: 92%;
  width: 19%;
  max-width: 61px;
  order: 0;


}

.header-logo {
  width: 185px;
  margin-top: -30px;
  //margin-left: -5px;
  display: flex;
  flex: 0 1 auto;
  align-self: center;


}

.menu-row{

}



.rectangle_1 {
  background-color: rgb(3, 7, 33);
  //box-shadow: 0px 3px 7px 0px rgba(21, 156, 241, 0.35);
  width: 100%;
  height: 35px;
  margin-top: 0px;

}

.name-column{
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
  width: 61%;
  margin: -151px auto;
  order: 1;
}

.name{
  display: flex;
  font-size: 2.75em;
  font-family: "Mistral";
  color: #0768ED;
  -moz-transform: matrix(0.66667, 0, 0, 0.78105, 0, 0);
  -webkit-transform: matrix(0.66667, 0, 0, 0.78105, 0, 0);
  -ms-transform: matrix(0.66667, 0, 0, 0.78105, 0, 0);
  align-self: center;
  justify-content: flex-start;
  flex: 0 1 auto;
  margin: 23px -27px;
  flex-flow: row;
  text-align: center;
  //width: calc(100% + 21%);
}

.rt-border{
  border-right: none;
}

.header-call_box{
  display: none;
}

.ee___Mon___jay{
  display: none;
}





.row-height{
  height: 110px;
}


.rectangle_2 {
  background-color: rgb(3, 7, 33);
  box-shadow: 0px 3px 7px 0px rgba(21, 156, 241, 0.35);
  width: 100%;
  height: 74px;
  margin-top: -58px;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;

}

.moto{
  font-size: 2.5em;
  font-family: "Mistral";
  color: rgb(7, 104, 237);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
  -webkit-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
  -ms-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
  width: 100%;
  height: 79px;
  z-index: 9;
  padding: 10px;


}


@media all and (min-width: 480px) and (max-width: 768px) {
   .name {
     font-size: 3.75em;
     margin: 17px -27px;
   }
}



@media all and (min-width: 768px) and (max-width: 771px) {
  .header__nav-list{
    font-family: "Perpetua Titling MT";
    font-weight: bold;
    font-size: .55em;
    list-style: none;
    display: flex;
    flex-flow: row;
    flex: 1 0 auto;
    justify-content: space-between;
    padding: 0px;
    height: 56px;
    margin-bottom: 43px;
  }
}

@media all and (min-width: 772px) {
  .header__nav-list {

    font-size: 1.0625em;
    margin-bottom: 0px;

  }
}

//Tablet Breakpoint

@media all and (min-width: 768px) {
  .nav-stacked{
    display: none;
  }

  .menu-row{
    height: 31px;
  }



.logo-column{
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
  height: 90%;
  width: 21%;
  max-width: 100px;
  order: 0;
  margin-top: 42px;
}
  .header-logo{
    width: 260px;
    margin-top: -36px;
    margin-left: 22px;
    max-width: 260px;
  }

  .name-column{
    width: 49%;
  }

  .name{
    display: flex;
    margin: 14px -8px;
    font-size: 4.4em;
    font-family: "Mistral";
    color: $banner-text;
    //rgb(7, 104, 237);
    line-height: 1.2;
    //text-align: left;
    -moz-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
    -webkit-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
    -ms-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
    align-self: center;
  }

  .ee___Mon___jay {
    display: flex;
    font-size: 33px;
    font-family: "Mistral";
    color: rgb(3, 7, 33);
    line-height: 0.2;
    text-align: center;
    -moz-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
    -webkit-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
    -ms-transform: matrix( 0.66666666666667,0,0,0.7810546875,0,0);
    align-self: center;
    flex: 1 0 auto;
    margin-left: calc(0% - 1vw);

  }

  .rt-border{
    border-right: 2px solid $imanje-black ;
  }

  .rectangle_1 {
    height: 30px;
    margin-top: -10px;

  }

  .header-call_box{
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    align-items: end;
    margin: -15px 68%;
    align-self: end;
    width: 30%;

  }
  .header-call_img{
   // margin: 10px 50px;
    width: 61%;
    height: 152px;
    display: flex;
    flex: 0 1 auto;
    align-self: flex-end;
    margin-top: 35px;
    max-width: 150px;
  }

  .header-call_text{
    margin: -105px auto 0px -16px;
    font-size: 2.2em;
    color: #e2e3e9;
    line-height: 0.2;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .header-call_line{
    background-color: #e2e3e9;
    width: 117px;
    height: 4px;
    z-index: 4;
    margin: 20px 10px;

  }

  .header-call_number{
    font-size: 1.9em;
    line-height: 0.2;
    color: #e2e3e9;
    margin: 0px 8px;

    a{
      color: #e2e3e9;
    }

    a:hover{
      color: #ffffff;
      text-decoration: none;
    }
  }

  .rectangle-row {
    height: 74px;
  }
  .rectangle_2{
    margin-top: 0px;
  }

  .moto{
    height: 32px;
    font-size: 2.75em;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}//End of 768px

@media all and (min-width: 1200px) {
  .header-call_box{
    margin: 135px 68%;
    height: 150px;
  }

  .header-call_img{
    margin-top: -99px;
    height: 88%;
  }
}