.home-title{
  font-weight: bold;
  font-size: 4.25em;
  font-family: $header-text;
  color: $banner-navy;
}


.intro {
  font-size: 1.50em;
  font-family: $reg-text;
  color: #030721;
  padding: 0px 12px 0px 12px;
}

.intro--mrgin-top {
  margin-top: 6px;
}

.intro--logo-top {
  margin-top: 15px;
}

.intro__name {
  margin-left: 5px;
  font-style: italic;
  font-size: 1.60em;
}