.intro {
  font-size: 1.50em;
  font-family: Raanana;
  color: #030721;
}

.intro--mrgin-top {
  margin-top: 6px;
}

.intro--logo-top {
  margin-top: 15px;
}

.intro__name {
  margin-left: 5px;
  font-style: italic;
  font-size: 1.60em;
}