

.landing-img{
  margin: 10px 25px;
}

.landing-min-height{
  min-height: 5px;
}

.landing-text {
  margin-top: 25px;
  margin-left: 5%;


}

.landing-enter_button{
  background-color: #030721;
  height: 80px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;


    a{

        font-size: 44.444px;
        font-family: "Mistral";
        color: $menuBtn-blue;
        text-align: center;
        width: 94px;
        z-index: 49;
    }
}

.landing-container{
  background-image: url("/assets/images/oceanBkg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-center{
  text-align: center;
}

.landing-intro_text{
  font-size: 1.65em;
  font-family: "Myriad Pro Regular";
  color: #030721;
  padding: 0px 12px 0px 12px;
}

.landing-intro-top{
  margin-top: 25px;
}

@media all and (min-width: 480px) and (max-width: 767px)  {
  .landing-container{
    margin-top: -63px;
    height: 320px;
  }

  .landing-top{
    margin-top: -175px;
  }
}
@media all and (max-width: 767px) {
  .landing-img{
    display: none;
  }


  .landing-enter_button{
    height: 68px;
    width: 177px;
    margin: 0px auto 0px auto;

      a{
        font-size: 36.444px;
      }
  }


}

@media all and (min-width: 768px) {
  .landing-container{
    margin-top: -58px;
    height: 400px;
    width: 100%;
  }

  .landing-img {
    //margin: 10px 25px;
    display: none;
  }

  .landing-intro-top {
    margin-top: 50px;
  }

  .enterbtn-row{
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

}

@media all and (min-width: 1200px) {
  .landing-enter_button{
    width: 219px;
  }
}

