.brand-height{
  height: 100%;
}

.header__title {
  color: #e2e3e9;
  font-family: "Noto Sans", sans-serif;
  font-size: 2.75em;
  //margin-left: calc(5vw);

  @media all and (min-width: 1024px) {
    font-size: 2.95em;
  }
}

.header__nav-list {
  font-family: "Perpetua Titling MT";
  font-weight: bold;
  font-size: 1.0625em;
  list-style: none;
  display: flex;
  flex-flow: row;
  flex: 1 0 auto;
  justify-content: space-between;
  padding: 0px;
  height: 56px;
}

.header__motto {
  padding: 5px 32px 0px 32px;
}

.header__motto--font {
  color: #0768ED;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125em;
  font-style: italic;

  @media all and (min-width: 1024px) {

     font-size: 1.225em;
  }
}

.header__byline {
  color: #e2e3e9;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5em;
  padding: 0px 75px;
  //display: flex;

  @media all and (min-width: 1024px) {
    font-size: 1.7em;
    padding: 0px 66px;
  }
}

.header--marg-lft{
  margin-left: 17px;
}



.navbar-inverse .navbar-nav >  a:link {


  border-radius: 4px 4px 4px 4px;
}

.navbar-inverse .navbar-nav > .active > a {

  //background-color: #030721;
  //border: 1px solid #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #01ff70;
}

.navbar-inverse {
  //background-color: #030721;
  //border-color: #090909;
}

.nav > li > a {
  background-color: #0fccee;
  color: #fff;
  border-radius: 24px 24px 24px
}

.nav > li > a:hover{
  background-color: $mint-green;
}

.nav > li {
  border: 2px transparent solid;

}

.navbar{
  //height: 190px;
  //z-index: 1;
}

.nav-row{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.navbar-collapse {
  margin-top: -43px;

}

.collapse {
  @media all and (min-width: 1024px) {
    display: block;
  }
}

.navbar-toggle {
  @media all and (min-width: 769px) {
    display: none;
  }
}

