
.container-top{
  margin-top: -46px;
}
.services-title{
  font-weight: bold;
  font-size: 4.25em;
  font-family: $header-text;
  color: $banner-navy;
  padding: 0px 44px;
}
.services__list {
  display: none;
  background-color: #FFFFFF;

   li{
     list-style: none;
   color: $banner-navy;
     margin-left: -37px;

   }

}

.active {
  display: block;
}

.notactive{
  display: none;
}

.classToggle{
  display: none;
}

.dev-open{
  display: block;
}

.service-drawer{
  border: 1px solid $trump-navy;
  background-color: $banner-text;

   a{
     color: #ffffff;
   }




}

.service-drawer:hover{
  border: 3px solid $mint-green;
  //$menuBtn-blue;
}

.brand{
  border-bottom: 2px solid $trump-navy;
}

.web{
  border-top: 2px solid $trump-navy;
}

.plus-button{
  margin-top: 27px;
  color: #ffffff;
}

@media all and(max-width: 768px) {

  .services-title{
   font-size: 4em;
  }
  .services-container{
    padding-bottom: 50px;
    max-width: 435px;

    h2{
      font-size: 20px;
    }
  }

  .services__list {
    li{
      font-size: .9em;
    }
  }


}

@media all and (min-width: 769px) {
  .container-top {
    margin-top: 0px;
  }

  .services-container{
    padding-bottom: 50px;
    width: 57%;
    max-width: 1200px;
  }
}

@media  all and (min-width: 1200px){
  .services-container{
    width: 90%;
  }
}


