//Colors

$banner-navy: #030721;
$banner-text: #0768ED;
$menuBtn-blue: #13C9F7;
$mint-green: #01FF70;
$imanje-black: #03061E;

//Fonts
$reg-text: "Myriad Pro Regular";
$header-text: "Mistral Regular";



